/* 字体命名规则：首字母大写的CamelCase */
/* 字体选择：01:Woff-02:OTF-03:TTF */

/* body 默认font-awesome字体，符号较多，可以免用svg符号，其他字体均需声明 */

/* 定义文本字体为思源字体，分别为普通文本字体，粗黑体，细黑体 */

/* 定义代码字体为JetBrainsMono字体，分别为普通，粗体，细体 */
/* JetBrainsMono字体汉字类似于仿宋体，英文及数字类似于雅黑 */
/* JetBrainsMono为连体，使用中；JetBrainsMonoNL为非连体，未用 */

/* 定义特殊文本字体为宋体字，无粗细体之分 */
/* 定义两种特殊字体备用：站酷文艺体和站酷小薇LOGO体 */

@font-face {
  font-family: "Awesome";
  font-display: swap;
  src: url(fonts/font-awesome/fonts/fontawesome-webfont.woff2),
    url(fonts/font-awesome/fonts/fontawesome-webfont.woff),
    url(fonts/font-awesome/fonts/FontAwesome.otf),
    url(fonts/font-awesome/fonts/fontawesome-webfont.svg),
    url(fonts/font-awesome/fonts/fontawesome-webfont.ttf);
}
/* font-awesome字体，body 默认 */

