body{
    background-image: url(image/bg-snow2.gif);
    margin: 3% 10% 10% 10%;
    border: white dotted 1px;
    padding: 50px;
    font-size: small;
}

h1{
    font-size: 250%;
    border-bottom: solid 5px;
    text-align: center;
}

h2{
    font-size: 150%;
} 

.center{
	text-align: center;
}

.change{
	width:100%;
	height:auto;
}

.three{
	width:30%;
	height:auto;
}

.fix{
	width:200px;
	height:400px;
}
